{% extends "studtests/base.html" %}

{% block login %}
<div class="" id="center">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username"  style="width: 30%;height: 10%;" autofocus required>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" style="width: 30%;height: 10%;" autofocus required>
        {% if login_error %}
        <label class="error">{{ login_error }}</label>
        {% endif %}
    <input class="button" type="submit" value="Войти">
    </form>
</div>
{% endblock %}