{% extends "studtests/base.html" %}
{% block interviews %}
    <div id="center">
    <form action="/myinterviews/" method="post">
    {% csrf_token %}
    <table>
    <tr><td><b>Название</b></td><td><b>Доступность</b></td><td><b>Удалить</b></td></tr>
    {% for x in interviews %}
        <tr>
        <td><a href="{% url "studtests:int_res" x.id %}">{{ x }}</a></td>
            {% if x.visible %}
        <td><input type="checkbox" name="vis{{ x.id }}" checked></td>
        {% else %}
        <td><input type="checkbox" name="vis{{ x.id }}"></td>
        {% endif %}
        <td><input type="checkbox" name="del{{ x.id }}"></td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <input type="submit" value="Применить" name="apply" class="button">
    </form>
    </div>
{% endblock %}